#info {
	height: 632px;
	overflow: auto;
}

#info img {
    width: 120px;
    height: 80px;
    padding: 3px;
    border-radius: 5px;
}

#info img:hover {
    -webkit-filter: blur(1px);
}

#paginationdiv {
    text-align: center;
    padding-bottom: 20px;
    margin-top: -40px;
}

#paginationdiv p {
    font-size: 14px;
    font-family:'Roboto Condensed', Sans-Serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.pager {
    text-align: center;
    margin: 0;
    font-weight: bold;
}
